{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Change your password</h2>

<form class="form-upload" method="post">
    {% csrf_token %}
    <label for="id_old_password">Old password:</label>
    <input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">

    <label for="id_new_password1">New password:</label>
    <input type="password"  class="form-control" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">

    <span class="helptext"></span></p><ul><li>Your password must contain at least one upper or lower case letter.</li><li>Your password must contain at least one number.</li></ul>

    <label for="id_new_password2">New password confirmation:</label>
    <input type="password"  class="form-control" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
    <br>
    <button type="submit" class="btn btn-primary upload-btn">Submit</button>
</form>
{% endblock content %}