{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="section-authentication">
        <h1 class="title-main">Sign Up</h1>
        {% if form.error %}{{ form.error }}{% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <p>
            Are you a member already? <a href="{% url "login" %}">Sign in now!</a>
        </p>
    </section>
{% endblock content %}
