body{
    padding: 20px;
    margin: 20px;
}

.container-login{
    display:flex;
    align-items: center;
    justify-content: center;

}
.section-login {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vh;
    height: auto;
    max-width: 100%;
}

